
# These are the make targets that will run every night.
export NIGHT_SHIFT_TARGETS="scaffold"

# Exceptions for night-shift unused target check.
export NIGHT_SHIFT_EXCEPTIONS="^(nuke|clean.*|all|list-all-targets|logs/.*)$"

# Entry point(s) of night-shift.
export NIGHT_SHIFT_ENTRY=""

# Path to the project folder.
export NIGHT_SHIFT_PROJECT_DIR=""
